<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roadkill">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.example.roadkill.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadKill"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserMainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".UserMapActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ManagerMainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ManagerHistoryActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ManagerReceiptDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ManagerMapActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ManagerCertificationActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".TimeActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".TimeDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserReportActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NearmissTimeActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NearmissTimeDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserNearmissReportActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserMyReportActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserMyReportDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Call911Activity"
            android:exported="false">
        </activity>
        <activity
            android:name=".AnimalStatusActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".AnimalCenterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".InjuredActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NearmissAnimalSizeActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NaverMapActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".NaverMapDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UserRoadkillMapActivity"
            android:exported="false">
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID" android:value="u68naoxsj2" />
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="670c7b51689dfd6ee61c44079bc0b128"/>

    </application>



</manifest>